.container {
    padding: 20px;
    border-bottom: 2px solid rgba(102, 102, 102, 0.71)
}

.movieBox {
    display: flex;
    margin: 10px 0;

}

.movieDiv {
    margin: 10px 15px;
}

.infoBlock {
    margin: 0;
    padding: 0;
}

.title {
    padding: 0 20px;
}

.image {
    width: 250px;
    height: auto
}