.nav {
    margin: 0;
    padding: 10px 20px;
    display: flex;
    list-style: none;
    font-size: 20px;
    align-items: center;
    box-shadow: 0px 9px 11px -3px rgba(102,102,102,0.71);
}

.nav a {
   text-decoration: none;
}

.item {
   width: 70px;
}